{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/op.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="container containerForm">
    <div class="form formOpportunity">
        <h1 class="pageTitle">Formulário de Vaga</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <footer class="buttons">
                <a href="javascript:history.back()">Cancelar</a>
                <button type="submit">Enviar</button>
            </footer>
        </form>
    </div>
</div>
{% endblock %}